.page{
    width:  100%;
    height: 1100%;
    position: relative;
    top:80px;
  }

.abt{
    top:800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
}
.about{
    text-decoration: underline;
    font-family: Mabry-Regular;
}

.square{
    height: fit-content;
    border: 4px solid black;
    padding: 20px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 40px;
    border-radius: 40px;
    box-shadow: 12px 12px 5px grey;
}

.aimg{
    float: right;
    margin-top: 14px;
    margin-left: 25px;
}
.tkn{
    width: 550px;
    cursor: pointer;
}
.atxt p{
    text-align: justify;
    font-size: 25px;
    font-family: Mabry-Regular;
}

@media screen and (max-width:850px){
    .square{
        width: 70%;
    }

    .tkn{
        width: 350px;
    }
    .atxt p{
        font-size: 20px;
    }
} 

@media screen and (max-width:580px){
    .square{
        width: 50%;
    }

    .tkn{
        width: 200px;
    }
    .atxt p{
        font-size: 15px;
    }
} 

@media screen and (max-width:285px){
    .tkn{
        width: 150px;
    }
}