
.home{
    position: relative;
    top:80px;
    font-family: Mabry-Regular;
    background-color: rgb(132, 0, 255);
    height: auto;
    color: white;
    border: 5px solid black;
}

.category{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 90%;
    margin-top: 20px;
    height: 60px;
    position: fixed;
    border: 2px solid black;
    border-radius: 30px;
    color: black;
    background-color: white;
    z-index: 99;
    margin-right: 45px;
    margin-left: 45px;
}

.menu-icon{
    display: none;
}
.c_menu{
    margin-right: 50px;
    display: grid;
    grid-template-columns: repeat(11,auto);
    grid-gap: 15px;
    list-style: none;
    width: fit-content;
    white-space: nowrap;
    justify-content: space-between;
}
.t_btn{
    background-color: white;
    color: black;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    font-family: Mabry-Regular;
}

.t_btn:hover{
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8%;
    margin-left: 5%;
    margin-right: 5%;
}

.column1{
    padding: 30px;
}

.column1 h1{
    font-size: 60px;
}

.column2 img{
    width: 450px;
    border: 2px solid white;
    border-radius: 8px;
}


.Content{
    height: auto;
    display: grid;
    grid-template-rows: repeat(10,auto);
    top:80px;
    position: relative;
}
.music-section,
.animation-section,
.ebooks-section,
.design-section,
.art-section,
.podcast-section,
.posters-section,
.article-section,
.films-section,
.education-section,
.ticket-section{
    display: flex;
    padding-top: 10px;
    padding-bottom: 2px;
    border-bottom: 3px solid black;
  }

.insideContainer{
width:90%;
}

.Content h1{
    text-decoration: underline;
    font-size: 2rem;
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: Mabry-Regular;
}

.Content h3{
    margin-top: 10px;
    margin-bottom: 2px;
    font-family: Mabry-Regular;
}
.txt{
    background-color: rgb(236 98 98);
    border: 4px solid black;
    padding: 10px 20px 10px 20px;
    margin: 20px;
    border-radius: 40px
}
.txt1{
    background-color: rgb(47 110 198);
    border: 4px solid black;
    padding: 10px 20px 10px 20px;
    margin: 20px;
    border-radius: 40px;
}

.txt2{
    background-color:rgb(131 114 233);
        border: 4px solid black;
        padding: 10px 20px 10px 20px;
        margin: 20px;
        border-radius: 40px;
        color: white;
}

.txt3{
    background-color: rgb(249 245 125);
    border: 4px solid black;
    padding: 10px 20px 10px 20px;
    margin: 20px;
    border-radius: 40px;
}

.txt4{
    background-color: rgb(58 61 255);
    border: 4px solid black;
    padding: 10px 20px 10px 20px;
    margin: 20px;
    border-radius: 40px;
    color: white;
}

.txt5{
    background-color: rgb(253 106 61);
    border: 4px solid black;
    padding: 10px 20px 10px 20px;
    margin: 20px;
    border-radius: 40px;
}

.txt6{
    background-color: rgb(126 236 98);
    border: 4px solid black;
    padding: 10px 20px 10px 20px;
    margin: 20px;
    border-radius: 40px;
}

.txt7{
    background-color: rgb(245 143 182);
    border: 4px solid black;
    padding: 10px 20px 10px 20px;
    margin: 20px;
    border-radius: 40px;
}

.txt8{
    background-color: rgb(98 236 236);
    border: 4px solid black;
    padding: 10px 20px 10px 20px;
    margin: 20px;
    border-radius: 40px
}

.txt9{
    background-color: rgb(245 209 255);
    border: 4px solid black;
    padding: 10px 20px 10px 20px;
    margin: 20px;
    border-radius: 40px
}

.spinner{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.notfound h2{
    width:100%;
    display:flex;
    margin-left:20px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

.bcards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    grid-gap: 30px;
    align-items: flex-start;
    margin: 20px;
    }
.conts{
    margin-top: 10px;
    margin-bottom: 10px;
    height: fit-content;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative; 
    border: 2px solid black;
    box-shadow: 8px 8px 5px rgba(128, 128, 128, 0.989);
}

.conts:hover{
    border: 4px solid black;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.989);
}

.ybgImage{
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid black;
    overflow: hidden;
    height: 150px;
    background-color: black;
}

.ycoverImg {
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.details{
  flex:1;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  width: 90%;
}
.btitle-div {
    margin-top: 5px;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.btitle-div p {
    font-family: Mabry-Regular;
    font-size: 20px;
    text-decoration: underline;
}
.bmiddle {
    height: 50px;
    display: flex;
}
.bleft {
    flex:1.3;
}
.bprice-text {
    margin:0;
    font-family: Mabry-Regular;
    font-size: 18px;
}
.beth{
    margin-top: 3px;
    height: 20px;
    display: flex;
}
.blogo-div {
    width: 15px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.blogo-div img {
     width: 20px;
}
    
.bamount-div{
    flex:1;
    display: flex;
    align-items: center;
}
.bamount-div p {
    font-family: Arial;
    font-weight: bold;
    font-size: 15px;
    color: rgb(31, 33, 34);
    height: 18px;
    white-space: nowrap;
    margin-left: 11px;
}
        
.bright {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 20%;
}
.bremaining-text {
    margin:0;
    font-family: Mabry-Regular;
    font-size: 18px;
}
.btoken-status {
    margin-top: 3px;
    height: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: end;
    font-family: Arial;
    font-weight: bold;
    font-size: 17px;
    color: black;
}

.bbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
  }
  
  .buy{
    background-color: #b100ff;
    color: white;
    width: 60%;
    border-radius: 10px;
    cursor: pointer;
    height: 40px;
    margin-bottom: 10px;
    margin-top: 25px;
    font-size: 18px;
  }

  .buy:hover{
    background-color: #57027b;
  }


@media screen and (max-width:1030px) {
    
    .category{
        width: 10%;
        margin: 10px;

    }
    .c_menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    color: black;
    left: -100%;
    opacity: 0;
    z-index: 9999999;
    transition: 0.3s ease-in-out;
    align-items: center;
    margin-left: 10%;
    margin-top: 50%;
    width: fit-content;
    background-color: white;
    }

    .c_menu.active{
        color: black;
        left: 0;
        opacity: 1;
        z-index: 9999999;
        transition: 0.3s ease-in-out;
        align-items: center;
        margin-left: 200px;
        margin-top: 300px;
        width: -moz-fit-content;
        width: fit-content;
        background-color: white;
        border-radius: 10px;
        border: 2px solid black;
        align-items: center;
        justify-content: center
    }
    .menu-icon{
        display: flex;
        align-items: center;
        margin: 10px;
    }

    .menu-icon i{
        font-size: 1.2rem;
        cursor: pointer;
    }

    .t_btn{
        font-size: 1rem;
    }
    .column2 img{
        width: 350px;
    }
    .column1 h1{
        font-size: 40px;
    }
    .row{
        margin-top: 80px;
    }
}

@media screen and (max-width: 600px){
    .c_menu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: absolute;
        color: black;
        left: -400%;
        opacity: 0;
        z-index: 9999999;
        transition: 0.3s ease-in-out;
        align-items: center;
        margin-left: 10%;
        margin-top: 50%;
        width: fit-content;
        background-color: white;
        }
    
        .c_menu.active{
            color: black;
            left: 0;
            opacity: 1;
            z-index: 9999999;
            transition: 0.3s ease-in-out;
            align-items: center;
            margin-left: 90px;
            margin-top: 300px;
            width: -moz-fit-content;
            width: fit-content;
            background-color: white;
            border-radius: 10px;
            border: 2px solid black;
            align-items: center;
            justify-content: center
        }
    .column1 h1{
        font-size: 35px;
    }
    .row{
        flex-direction: column;
    }

    .row .column1{
        padding: 30px;
    }
    .menu-icon{
        display: flex;
        align-items: center;
        margin: 10px;
    }

    .menu-icon i{
        font-size: 1.2rem;
        cursor: pointer;
    }
}

@media screen and (max-width: 950px){
    .bcards{
        display: flex;
        flex-direction: column;
        width: 40%;
    }
}

@media screen and (max-width: 530px){
    .bcards{
        display: flex;
        flex-direction: column;
        width: 20%;
    }
}