.container{
    width:  100%;
    height: 1100%;
    position: relative;
  }
  
  .content{
    position: absolute;
    left: 260px;
    top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 40px;
    width: 75%;
  }

  .heading{
    background-color: #b100ff;
    border: 4px solid black;
    margin: 20px;
    width: 60%;
    border-radius: 20px;
  }

  .heading h1{
    margin: 10px;
    color: white;
    font-family: Mabry-Regular
  }


  .spinner{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .notfound{
    width:100%;
    display:flex;
    margin-left:20px;
    font-style: italic;
  }

  .ycards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-gap: 30px;
    align-items: flex-start;
    margin: 20px;
    }
.cont{
    margin-top: 10px;
    margin-bottom: 10px;
    height: fit-content;
    border: 2px solid black;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    box-shadow: 8px 8px 5px rgba(128, 128, 128, 0.989);
}

.cont:hover{
    border: 4px solid black;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.989);
}

.bgImage{
    height: 150px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid black;
    overflow: hidden;
    background-color: black;
}

.coverImg {
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.detail{
  flex:1;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  width: 90%;
}
.title-div {
    margin-top: 5px;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.title-div p {
    font-family: Mabry-Regular;
    font-size: 20px;
    text-decoration: underline;
}
.middle {
    height: 50px;
    display: flex;
}
.left {
    flex:1.3;
}
.price-text {
    margin:0;
    font-family: Mabry-Regular;
    font-size: 18px;
}
.eth{
    margin-top: 3px;
    height: 20px;
    display: flex;
}
.logo-div {
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 18px;
}

.logo-div img {
     width: 20px;
}
    
.amount-div{
    flex:1;
    display: flex;
    align-items: center;
}
.amount-div p {
    font-family: Arial;
    font-weight: bold;
    font-size: 15px;
    color: rgb(31, 33, 34);
}
        
.right {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.remaining-text {
    margin:0;
    font-family: Mabry-Regular;
    font-size: 18px;
}
.token-status {
    margin-top: 3px;
    height: 20px;
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: end;
    font-family: Arial;
    font-weight: bold;
    font-size: 17px;
    color: black;
}

.lbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
  }

.lcat{
    background-color: #b100ff;
    color: white;
    width: 70%;
    border-radius: 10px;
    cursor: pointer;
    height: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 18px;
  }

  @media screen and (max-width: 900px){
    .ycards{
        display: flex;
        flex-direction: column;
        width: 70%;
    }
}

@media screen and (max-width: 836px){
    .ycards{
        display: flex;
        flex-direction: column;
        width: 60%;
    }
}

@media screen and (max-width: 680px){
    .ycards{
        display: flex;
        flex-direction: column;
        width: 40%;
    }
    .title-div p {
        font-family: Mabry-Regular;
        font-size: 15px;
        text-decoration: underline;
    }
    .middle {
        height: 50px;
        display: flex;
        flex-direction: column;
    }
    .left {
        flex:1.3;
    }
    .price-text {
        margin:0;
        font-family: Mabry-Regular;
        font-size: 14px;
    }
    .eth{
        margin-top: 3px;
        height: 20px;
        display: flex;
    }
    .logo-div {
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: start;
        height: 18px;
    }
    
    .logo-div img {
         width: 20px;
    }
        
    .amount-div{
        flex:1;
        display: flex;
        align-items: center;
    }
    .amount-div p {
        font-family: Arial;
        font-weight: bold;
        font-size: 12px;
        color: rgb(31, 33, 34);
    }
            
    .right {
        flex:1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .remaining-text {
        margin:0;
        font-family: Mabry-Regular;
        font-size: 14px;
    }
    .token-status {
        margin-top: 3px;
        height: 20px;
        display: flex;
        width: 20%;
        align-items: flex-start;
        justify-content: flex-start;
        font-family: Arial;
        font-weight: bold;
        font-size: 12px;
        color: black;
    }
    .lbtn{
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 20px;
    }
}

@media screen and (max-width: 490px){
    .ycards{
        display: flex;
        flex-direction: column;
        width: 30%;
    }
    .lcat{
        font-size: 0.8rem;
    }
}